[submodule "InHARD"]
	path = InHARD
	url = https://github.com/vhavard/InHARD
[submodule "PyMO"]
	path = PyMO
	url = https://github.com/omimo/PyMO/
[submodule "ultralytics"]
	path = ultralytics
	url = https://github.com/ultralytics/ultralytics
[submodule "Research"]
	path = GPT_Results
	url = https://github.com/jacevedo0326/Research.git
